
body {
    background-color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    box-sizing: border-box;
    /* height: 100vh; */
    width: 100%;
    margin: auto;
    padding: 0;
    border: 0;
} 

.nav{
    width: 95%;
    margin: auto;
    height: 60px;
    align-items: center;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
 
}
.nav .toggle_btn{
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 85%;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.744);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li a{
    text-decoration: none;
    color: black;
}
.dropdown_menu li a:hover{
   border: solid black 1px;
    border-radius: 2px;
    padding: 5px;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li {
    padding: 0.7rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.list ul{
    display: flex;  
}
ul{
    list-style: none;
}
ul li a{
    font-size: 13px;
    padding: 0 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.logo {
    margin-right: 320px;
}
.list ul li :hover{
    background-color: rgba(0, 0, 0, 0.185);   
}
.elemenator{    
    background-color:rgb(232, 159, 190) ;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    overflow: hidden;
}
.text{
    width: 40%;
    margin-left: 90px;
    margin-top: 150px;
 }
.text p{
font-size:20px;
}
.text h1{
font-size: 45px;
 
}

.button ,.button2,.button3{
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    
}
.button:hover,.button2:hover,.button3:hover{
    color: darkgray;
    text-decoration: none;
}

.container_img{
background-image: url(./img/hero-bg.png);
background-repeat: no-repeat;
background-size: 80%;
background-position-x:10%;
background-position-y: 33%; 
justify-content: center;
}

.text_one{
    text-align: center;
    font-size: small;
    top: 20px;
    position: relative;
    
    }
    .text_two{
        text-align: center;
        font-size:25px;
        font-weight: bold;
    
    }

.img5{
background-image: url(./img/product-09-a-300x366.jpg);
background-repeat: no-repeat;
}
.text_par1{
margin-top: 330px;
}
.p1{
    color: rgb(176, 179, 181);
    font-size: x-small;
}
.p2{
   font-size: 22px; 
   font-weight: bolder;
position: relative;
bottom: 15px;
}
.p3{
    color: rgb(159, 162, 164);
 font-size: small;
 position: relative;
bottom: 30px;
}
.img5:hover{
    background-image: url(./img/product-01-c-300x366.jpg);
    transition: 1s;

}
  @media  screen and (max-width: 600px) {
        .img5,.img6,.img7{
            width: 90%;

        }
       
      }

.img6{
background-image: url(./img/product-06-a-300x366.jpg);
}
.img7{
background-image: url(./img/product-10-a-300x366.jpg);
}
.img6:hover,.img7:hover{
    background-image: url(./img//product-01-d-300x366.jpg);
    transition: 1s;

}
.img8{
background-image: url(./img/product-08-a-300x366.jpg);
}
.img8:hover{
    background-image:url(./img/product-001-b-300x366.jpg) ;
    transition: 1s;
}


.base_coll{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-between;

}
   
.contenar_col{
    width: 50%;
    
}
.pa1{
font-size: 10px;
color: rgb(122, 117, 117);
font-weight: bold;
position: relative;
top: 15px;
}
.pa2{
font-size: 50px;
font-weight: bold;
position: relative;
bottom: 30px;

}
.button3{
    position: relative;
    bottom: 60px;
}
.button2{
    position: relative;
    bottom: 90px;
}

.par1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 90%; 
    margin:auto;
}

.img1,.img2,.img3,.img4 ,.img5,.img6,.img7,.img8{
    width: 250px;
    height: 300px;
    padding: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.img1{
    background-image: url(./img/product-01-a-300x366.jpg);
}
.img1:hover , .img2:hover,.img4:hover{
    background-image: url(./img/product-001-b-300x366.jpg);
    transition: 1s;
}
.img2{
    background-image: url(./img/product-05-a-300x366.jpg);
}

.img3{
    background-image: url(./img/product-03-a-300x366.jpg);
}
.img3:hover{
    background-image: url(./img/product-01-d-300x366.jpg);
    transition: 1s;
}
.img4{
    background-image: url(./img/product-08-a-300x366.jpg);
}

.bcgimg{
    background-image: url(./img/bg-01.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 1200px;
    top: 800%;
}
.bcg_p{
text-align: center;
top: 20%;
position: relative;
color:#fff;
}
.bcg_p1{
    font-size: small;
    font-weight: bold;
    
}
.bcg_p2{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
}
.bcg_p3{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 100px;
   
}

.contenar_women{
    display: flex;
    margin-top: 100px;
    padding: 50px;
}

.bac_women{
    
    width: 70%;
    background-color: rgb(251, 231, 245);
    
}
.women_img{   
     position: relative;
     bottom: 100px;
   margin: auto;
   justify-items: center;
   justify-items: center;
   margin: 50px;
}
.women{
    width: 60%;
    position: relative;
    right: 30px;
    top: 100px;
}



.p4{
    font-size:small;
    position: relative;
    top: 50px;
}
.p5{
    font-size: 50px;
    font-weight: bold;
    
}
.p6{
    position: relative;
    bottom: 50px;
}

.part{
    text-align: center;
    margin: 0%;

}
.p7{
    font-size: 10px;
    /* margin: 0%; */
    position: relative;
    top: 25px;

}
.p8{
    font-size:40px;
    font-weight: bold;
    position: relative;
    top: 10px;
    padding-bottom: 7px;
  
}

.part2{
    margin-left: 27%;
    margin-right: 27%;
    text-align: center;


}
.p9{
    font-size: 40px;
    font-weight: bold;
}
.p10{
    font-size: 21px;
    font-weight: bold;
}
.contaner_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
    width: 87%;

}
.img_men,.img_women{
    width: 560px;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;


}
.img_men{
    background-image: url(./img/cat-men-300x300.jpg);
}
.img_women{
    background-image: url(./img/cat-women-300x300.jpg);
}
.con_p11{
    position: relative;
    top: 85%;
    background-color: rgba(255, 255, 255, 0.769);
    width: 95%;
    margin: auto;
    text-align: center;
}

.p11{
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
.p12{
    font-size:small ;
    color: rgb(121, 123, 125);
    position: relative;
    bottom: 5px;
}

footer{
    background-color:antiquewhite;
    text-align:center;
    width: 95%;
    height: 700px;
    margin: auto;
    position: relative;
    top: 50px;
    margin-bottom: 120px;
}
.cartoon{
    position: relative;
    top: 100px;

}
.p13{
    font-size: 30px;
    font-weight: bold;
    width: 40%;
    margin: auto;
   
}
.p14{
    width: 35%;
    margin: auto;
    position: relative;
    top: 50px;


}
.inp{
    position: relative;
    top: 100px;

}
.links{
    position: relative;
    top: 150px;
    width: 100%;
    font-size: x-small;
    margin: auto;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}
.btu{
    position: relative;
    top: 200px;
}
.so4l{
    position: relative;
    top: 250px;
}
.p_footer{
    position: relative;
    top: 300px;
    background-color: black;
    color: #fff;
    height: 100px;
}
.pf{
    position: relative;
    top: 33px;
}

footer a{
    text-decoration: none;
    color:antiquewhite;;
}




@media (max-width: 900px) {
    .nav .list{
        display: none;
    }
    .nav .toggle_btn{
        display: block;

    }
    .dropdown_menu{
        display: block;
    }
    .logo {
        margin-right: 0px;
    }
    
    .text{
        width: 100%;
        margin-left: 50px;
        margin-top: 90px;
        margin-bottom: 50px;
     }
     
    .container_img{
        background-size: 100%;
        margin: auto;

        }
    .container_img img {
        width: 300px;

    }

    .contenar_women{
        display: block;
        padding: 0px;
        padding-bottom: 150px;
    }
    .bac_women{
        width: 90%;
    }
   
    .women_img{
        width: 100%;
         margin: 3px;
        margin-top: 20px;
        padding-left: 10px;
    }
    .women{
        width: 90%;
        right: 0px;
        margin: 15px;
    }
    .p4{
        top: 0px;
    }
    .p5{
        font-size: 30px;
        margin-bottom: 60px;        
    }
    
    .par1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  
    .para{
        width: 50%;
    }
    .img_men{
        margin-bottom: 20px;
    }
    .base_coll{
    display: block;

}
    .base_coll img{
    width: 90%;

}
   
.contenar_col{
    width: 100%;
    
}
.pa1{
top: 15px;
margin: 50px;
}
.pa2{
font-size: 20px;
margin: 50px;
}
  
}
